<%= form_with model: content_item do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.rich_text_area :body %>
  </div>

  <hr>

  <ul>
    <% content_item.user.social_networks.each do |network| %>
      <li>
        <%= label_tag do %>
          <%= check_box_tag 'content_item[social_network_ids][]', network.id, 
          content_item.social_network_ids.include?(network.id), id: "#{network.description}" %>
          <%= network.description %>
        <% end %>
        <%= form.datetime_local_field :socil_network_date, placeholder: "Enter publishing date", 
        data_network_textfield_id: "#{network.description}", onchange: "updateCheckBoxValue(event)" %>
      </li>
    <% end %>
  </ul>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<script>
  function updateCheckBoxValue(e){
    var checkBox = document.querySelector(`#${e.target.attributes.data_network_textfield_id.value}`)
    checkBox.value += ` ${e.target.value}`
  }
</script>
