<h1>Content Items</h1>

<%= link_to 'Add Content item', new_content_item_path %>

<ul id="content-items">
  <%= render partial: 'content_item', collection: @content_items %>
</ul>

<div class="midle-nav-bar">
  <div>
    <%= form_with url: '/content_items/search', method: :get, local: true do |f| %>
      <%= f.label :q, "Search for:" %>
      <%= f.text_field :q, id: :q %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
<div>

<div class="calendar-div">
  <%= render "calendar" %>
</div>