<h1><%= @content_item.title %></h1>

<div><%= link_to 'Edit', edit_content_item_path(@content_item) %></div>
<div><%= link_to 'Delete', content_item_path(@content_item), method: :delete, 'data-confirm': 'Are you sure?' %></div>

<hr>

<%= @content_item.body %>

<hr>

<table>
  <tr>
    <th>Platform</th>
    <th>publish date</th>
    <th>Action</th>
  </tr>
  <% @publishing_targets.each do |publishing_target| %>
  <tr>
    <th><%= publishing_target.social_network.description %></th>
    <th><%= publishing_target.publish_date.nil? ? "not specified" :  publishing_target.publish_date %></th>
    <th>
      <%= link_to "Edit publish date", edit_publishing_target_path(publishing_target) %>
    </th>
  </tr>
  <% end %>
</table>
  
